* {
-mox-box-sizing: border-box;
Box-sizing: border-box
Padding: 0;
Margin: 0;
}

/*color*/

.green {
  color: #85BE88;
}

.red {
  color: #F6847A;
}

.purple {
  color: #E19EF5;
}

.grey {
  color: #ccc;
}

.black {
  color: #000;
  border: 1px #000 solid;
}

a {
  text-decoration: none;

}

a:hover {
  border-color: #000;
  color: #000;
}

.btn {
  padding: 8px 15px;
  border: 1px #ccc solid;
  font-family: "Ubuntu";
  text-transform: uppercase;
  font-size: .8em;
}

.blackBtn {
  padding: 8px 15px;
  border: 1px #000 solid;
  font-family: "Ubuntu";
  text-transform: uppercase;
  font-size: .8em;
  color: #000;
}

h1 {
  font-family: "Ubuntu",sans-serif;
}

.container {
  display: flex;
  margin: 8vh auto;
  flex-flow: row wrap;
  text-align: center;
}

.element {
  flex-wrap: nowrap;
  flex: 1 100%;
  margin-top: 35px;
}

#js-results {
  list-style: none;
  text-align: center;
}

#js-results li {
  margin: auto;
  margin-top: 3px;
  width: 30px;
  text-align: left;
  font-family: "Ubuntu";
  font-size: .8em;
}
