* {
-mox-box-sizing: border-box;
Box-sizing: border-box
Padding: 0;
Margin: 0;
}


a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

.btn {
  padding: 8px 15px;
  border: 1px #ccc solid;
  font-family: "Ubuntu";
  text-transform: uppercase;
  font-size: .8em;
}

h1 {
  font-family: "Ubuntu",sans-serif;
}

.container {
  display: flex;
  margin: 8vh auto;
  flex-flow: row wrap;
  text-align: center;
}

.element {
  flex-wrap: nowrap;
  flex: 1 100%;
  margin-top: 35px;
}
